.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 55vh;
  border: 10px solid rgb(105, 105, 105);
  border-radius: 15px;
  padding: 10px 20px;
  overflow-x: hidden;
}
.subTitle {
  font-size: 6vh;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 900px) {
  .meanings {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}
.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}
audio {
  width: 100%;
}
